body {
  background-image: url('Media/white-crumpled-paper-texture-background.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
}




